# Indexing, Selecting, and Assigning

## Native Accessors
In python, like other languages such as JavaScript, we can access we can access a property of an object by using the dot notation. For example, if we have a dictionary, we can access a value by using the key of the dictionary.

In [1]:
import pandas as pd

wines = pd.read_csv('./wines.csv')

wines.head()

   Unnamed: 0  country  price
0           0      USA     55
1           1   Canada    NaN
2           2   Brazil     33
3           3      NaN     73

However, in order to do this, we need to make sure there is no white space in the column names on the ends. If white spaces must be present, we can use the bracket notation to access the column or we can rename the column to remove the white space. This is before the white space is removed.

In [79]:
wines.columns
try:
    print(wines.country)
except:
    print('Error accessing country column')

Error accessing country column

Now, look at the effects of stripping the whitespace.

In [80]:
wines.columns = wines.columns.str.strip() # strip() removes leading and trailing whitespace
try:
    print(wines.country)
except:
    print('Error accessing country column')

0        USA
1     Canada
2     Brazil
3        NaN
Name: country, dtype: object

Alternatively, we can access the column by using the bracket notation.

In [81]:
try:
    print(wines['country'])
except:
    print('Error accessing country column')

0        USA
1     Canada
2     Brazil
3        NaN
Name: country, dtype: object